@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div>
        <div class="JumboHeader">


            <div class="Logo"></div>
            @*<h1>Detroit Events </h1>*@

            @using (Html.BeginForm("Index", "Event", FormMethod.Get))
            {
                <p id="HomeCalendar">
                    @Html.JQueryUI().Datepicker("dateS", DateTime.Today).Inline(true)
                    <input type="submit" value="Search Events" class="btn" />

                </p>
            }

        </div>
       <div id="front-intro" > <p style="color:antiquewhite"><B>Detroit Events provides visitors with scheduled events for the Detroit area, check out our Events Calendar for upcoming events!!</p></div>
    <div id="comslider_in_point_315211" class="Slider"></div>
    <script type="text/javascript">var oCOMScript315211 = document.createElement('script'); oCOMScript315211.src = "http://commondatastorage.googleapis.com/comslider/target/users/1407523368xe8cdedcea7eac715a577cf949fc8ec84/comslider.js?timestamp=1407528806"; oCOMScript315211.type = 'text/javascript'; document.getElementsByTagName("head").item(0).appendChild(oCOMScript315211);</script>
</div>



</div>

<div class="row">
    <div class="col-md-3">
        <center>
            <h2 class="Categorytitle">
                @Html.ActionLink("Music", "Index", "Event", new { CategoryId = 2 }, new { @class = "Categorytitle" })
            </h2>
            <p>
                @{
                    var routeValues = new RouteValueDictionary();
                    routeValues.Add("CategoryId", "2");
                }

                @using (Html.BeginForm("Index", "Event", routeValues))
                {

                    <input type="image" src="~/Content/Images/Kidrock.JPG" width="200" height="230">          }
            </p>

        </center>

    </div>
    <div class="col-md-3">
        <center>
            <h2 class="Categorytitle">
                @Html.ActionLink("Festivals", "index", "event", new { categoryid = 5 }, new { @class = "Categorytitle" })
            </h2>
            <p>


                @{
                    var routeValues1 = new RouteValueDictionary();
                    routeValues1.Add("CategoryId", "5");
                }
                @using (Html.BeginForm("Index", "Event", routeValues1))
                {

                    <input type="image" src="/Content/Images/imagesu2qhjlzk.jpg " width=" 200" height="230">   }
            </p>
        </center>

    </div>
    <div class="col-md-3">
        <center>
            <h2 style="color:fuchsia" class="Categorytitle">
                @Html.ActionLink("Sports", "index", "event", new { categoryid = 4 }, new { @class = "Categorytitle" })
            </h2>
            <p>
                @{
                    var routeValues2 = new RouteValueDictionary();
                    routeValues2.Add("CategoryId", "4");
                }
                @using (Html.BeginForm("Index", "Event", routeValues2))
                {

                    <input type="image" src="/Content/Images/imagesp9c07hza.jpg" width="200" height="230">          }
            </p>
        </center>


    </div>

    <div class="col-md-3">
        <center>
            @*<h2 class="food/drink-title">

                @Html.ActionLink("Food/Drink",
                                 "Index", "Category/Details/1")</h2>*@

            <h2> @Html.ActionLink("Food/Drinks", "index", "event", new { categoryid = 1 }, new { @class = "Categorytitle" })</h2>

            <p>
                @{
                    var routeValues3 = new RouteValueDictionary();
                    routeValues3.Add("CategoryId", "1");
                }
                @using (Html.BeginForm("Index", "Event", routeValues3))
                {

                    <input type="image" src="/Content/Images/images.jpg " width=" 200" height="230">          }
            </p>
        </center>
        
    </div>
    <div class="globe">
        <center>
        <script type="text/javascript" src="http://jg.revolvermaps.com/2/1.js?i=6kad6n99hoi&amp;s=220&amp;m=6&amp;v=true&amp;r=false&amp;b=000000&amp;n=false&amp;c=ff0000" async="async"></script></center>
    </div>
</div>
