@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Detroit Events </h1>
    @using (Html.BeginForm("Index", "Event", FormMethod.Get))
    {
        <p id="HomeCalendar">
            @Html.JQueryUI().Datepicker("dateS", DateTime.Today).Inline(true)
            <input type="submit" value="Filter Dates" />

        </p>
    }
    <p class="lead">Events in the  Metro Detroit area.</p>
    
</div>

<div class="row">
    <div class="col-md-3">
       <center><h2>Music</h2>
        <p>
         <<img src='@Url.Content("~/Content/Images/imagesHBJ7HR09.jpg")' alt="Music" width="200" height="230">
        </p></center>
       
    </div>
    <div class="col-md-3">
        <center><h2>Festivals </h2>
        <p>
        <<img src='@Url.Content("~/Content/Images/imagesU2QHJLZK.jpg")' alt="Festivals" width="200" height="230">
        </p></center>

    </div>
    <div class="col-md-3">
        <center><h2>Sports</h2>
        <p>
        <<img src='@Url.Content("~/Content/Images/imagesP9C07HZA.jpg")' alt="Sports" width="200" height="230">
        </p></center>

       
    </div>
    <div class="row">
        <div class="col-md-3">
            <center>
                <h2>Food/Drink</h2>
                <p>
                    <<img src='@Url.Content("~/Content/Images/images.jpg")' alt="Food/Drink" width="200" height="230">
                </p>
            </center>

        </div>
        
    </div>
</div>

